.container{
    margin: auto;
    max-width: 980px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.demo{
    border: 1px solid #000000;
    padding: 24px;
}
button{
    margin: 12px 0;
}